/* GENERAL */
body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #32a093 0%,
        #32a093 15%,
        #dfe0d9 15%,
        #dfe0d9 100%
    );
}
i{
    cursor: pointer;
}
/*  */

/* CONTAINER */
.container-w-app{
    height: 95%;
    width: 80%;
}

/* NOTIFICATION */
.notifications{
    background-color: #a2dffe;
}
.notifications i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #a2dffe;
}
/* SEARCH */
.search{
    background-color: #fffbfb;
}
.search button{
    border: none;
    padding: 5px 40px;
}
/* USERS */
.users img{
    width: 15%;
}
/* MAIN */
.chat{
    background-image: url('../img/mine.jpg');
}
main .my-message{
    background-color: #ddfabf;
    border-radius: 15px;
}
main .your-message{
    border-radius: 15px;
}
/* FOOTER */
footer{
    background-color: #f4f0ed;
}
footer input{
    border-radius: 20px;
}
p{
    margin-top: auto;
}